.general{
  background-color: red;
  height: 500px;
  width: 500px;
  margin-bottom: 20px;
  position: relative;
}

.elemento {
  background-color: purple;
  height: 250px;
  width: 250px;
  position: absolute;
  top: 125px;
  left: 125px;
}

.subelemento {
  background-color:yellow;
  height: 150px;
  width: 150px;
  position: relative;
}


.general2{
  background-color: blue;
  height: 500px;
  width: 500px;
  margin-bottom: 20px;
  position: relative;
}

.elemento1 {
  background-color:black;
  height: 130px;
  width: 130px;
  position: relative;
}

.elemento2 {
  background-color: green;
  height: 250px;
  width: 250px;
  position: relative;
  top: 0px;
  left: 130px;
}


}
